<p> Here the comunication </p>

<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
<script type="text/javascript">
 // Enable pusher logging - don't include this in production
 Pusher.log = function(message) {
   if (window.console && window.console.log) {
     window.console.log(message);
   }
 };

 var pusher = new Pusher('572b9bb03e0661d81c6d', {
   cluster: 'eu'
 });

 var channel = pusher.subscribe('<%= @user.id %>');
 
channel.bind('wui_create', function(data) {
   alert('WUI received: ' + data.message.wui.identifier);
 });
 
channel.bind('wui_update', function(data) {
   alert('WUI utility:' + data.message.wui.utility);
 });
</script>
